= post.title
= image_tag post.image.url, class: 'infowindow-img-top'
= post.description
= link_to "マップを開く" ,"https://maps.google.co.jp/maps?q=loc:#{post.latitude},#{post.longitude}&iwloc=J",target: "_blank"