.card
  - @posts.each do |post|
    .card__contant
      = link_to( post, remote: true) do
        .card__contant-title
          =truncate(post.title,length: 11)
        .card__contant-main
          .card__contant-main-image
            = image_tag post.image.url, class: "post_photo"
          .card__contant-main-description
            = truncate(post.description,length: 11)
      .card__contant-main-tags
        - post.tag_list.each do |tag|
          = link_to tag, posts_path(tag_name: tag),class: "tags--item"
      .post_information
        = render 'likes/like_links', post: post
        .post_information__user
          = link_to post.user.name, user_path(post.user.id), class: 'post_information__user--btn'
