#modal.modal-dialog
  .modal-content
    .post-show-container.container
      #close.close-btn
        .batsu
      - if  current_user?(@post.user)
        .more
          %i.fas.fa-sort-down
            %ul.edit-btn__list
              %li.edit-btn__list__item
                = link_to "編集", edit_post_path(@post)
              %li.edit-btn__list__item
                = link_to "投稿を削除する" ,post_path(@post), method: "delete", data: {confirm: "削除しますか？"}
      .show
        .show__title
          = @post.title
        .show__image
          = image_tag @post.image.url
        .show__sub
          .show__description
            .show__description--title
              投稿の説明
            .show__description--item
              = @post.description
          #show_map{:style => "width: 50%; height: 50vh; margin: 1rem;"}
        /コメント情報
        .show__sub
          .show__box
            .comments_area
              .comments_area__title
                コメント一覧
              #comments_area
                = render partial: 'comments/comment', collection: @comments
              .comment-box
                = render 'comments/form', comment: @comment, post: @post
          .show__box.bg--reset
            .contributor
              .contributor__name
                投稿者
              = link_to @post.user.name, user_path(@post.user.id)
            /タグ一覧
            .ffff
              .show__box--item
                タグ一覧
              .tag-items
                - @post.tag_list.each do |tag|
                  = link_to tag, posts_path(tag_name: tag), class: "text-white"
              .count_box
                コメント数
                %span.comment_count.count
                  = render 'comments/count', post: @post

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ 
    provider: {mapTypeId: 'hybrid'},
    internal: {id: 'show_map'}
    }, 
    function(){
    markers = handler.addMarkers([
      {
        "lat":  #{@post.latitude.to_json},
        "lng":  #{@post.longitude.to_json},
      }
    ])
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setCenter(new google.maps.LatLng(#{@post.latitude.to_json},  #{@post.longitude.to_json}));
    handler.getMap().setZoom(4);
  });
