.header_main
  .header_second
    .header__logo
      = link_to "SUPERD VIEW", root_path
    .header__menu
      %ul.header__menu
        - if user_signed_in?
          %li.header__menu--item
            = link_to current_user.name, user_path(current_user.id)
          %li.header__menu--item
            = link_to "投稿一覧", posts_path
          %li.header__menu--item
            = link_to "世界地図", maps_path
          %li.header__menu--item
            = link_to "新規投稿", new_post_path
          %li.header__menu--item
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li.header__menu--item
            = link_to "世界地図", maps_path
          %li.header__menu--item
            = link_to "新規登録", new_user_registration_path
          %li.header__menu--item
            = link_to "ログイン", new_user_session_path